[submodule "Paper"]
	path = Paper
	url = https://github.com/PaperMC/Paper.git
	branch = master
[submodule "ConcurrentUtil"]
	path = ConcurrentUtil
	url = https://github.com/Spottedleaf/ConcurrentUtil
